.nutritionFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nutritionForm {
  background: hsl(326, 70%, 75%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  color: hsl(0, 0%, 100%);
}

.nutritionForm label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.nutritionForm input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.nutritionForm button {
  background-color: #ff0095;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.nutritionForm button:hover {
  background-color: #ca0073;
}
