* {
  box-sizing: border-box;
}

#root {
  margin: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  margin: 0;
  overflow: hidden;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.topnav li {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

.topnav li a {
  text-decoration: none;
  color: rgb(236, 147, 197);
  padding: 20px;
}

.topnav li:hover {
  background-color: #f8c8e4;
  color: black;
}

.topnav li.active {
  background-color: #2196f3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type="text"] {
  padding: 10px;
  margin-top: 8px;
  font-size: 20px;
  border-radius: 20px;
  border: 1px solid rgb(255, 227, 249);
  background-color: rgb(255, 227, 249);
}

input {
  padding: 20px;
  margin-right: 20vw;
}

.topnav .search-container button:hover {
  background: #fcc3f1;
}
